/* Footer Section */
footer {
  text-align: center;
  color: #c7c7c7;
  margin-top: 10rem;
  font-weight: 400;
  letter-spacing: 1.2;
  margin-bottom: 1rem;
}
@media (max-width: 796px) {
  footer {
    margin-top: 6rem;
    font-size: 0.75rem;
  }
}
@media (max-width: 596px) {
  footer {
    margin-top: 4rem;
    font-size: 0.5rem;
  }
}
